.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
}

body {
  font-family: "Indie Flower", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #858af3c8, #c9ccff);
}

.question-container,
.start-container {
  text-decoration: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  transform: scale(1.5);
}

.question {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answer {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #666dff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.footer {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #858af3c8;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
}
